$page-padding: 35px;

@mixin center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html {
  position: relative;
}

.vertical-center {
  position: absolute;
  @include center();
}

.page-title {
  margin: $page-padding 0 $page-padding 0;
}

.search-city {
  box-shadow: none;
}